body{
  background-color:grey;
}
.blog-post-card{
  background-color:white;
  border-radius:30px;
  width:400px;
  text-align:center;
  margin:50px auto;
}
.post-img{
  width:100%;
  border-bottom:2px solid black;
  border-radius:20px 20px 0 0;
}
.post-content{
  padding:25px;
}
.post-title,.post-excerpt{
   color:rgb(25, 13, 13);
   margin:5px; 
}
.read-more{
  display:inline-block;
  color:whitesmoke;
  background-color:rgb(26, 23, 23);
  padding:10px 20px;
  margin:5px;
  border-radius:4px;
}
.read-more:hover{
  background-color:grey;
}
