body{
    background-color: #F8F9FB;
}
.card{
    display: flex;
    justify-content: space-around;
    background-color: #DDE8F3;
    gap:20px;
    width: 550px;
    padding:30px;
    margin:80px auto;
    border-bottom: 8px solid #8c6ac8;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,1.0);
}
.card-image{
    width:auto;
    height: 200px;
    border-radius: 8px;
}
.card-content h2 {
    margin: 0;
    font-size: 22px;
}
.fonts{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.social-links{
    display:flex;
    flex-direction:row;
    justify-content: center;
}
.social-link{
    display:inline-block;
    margin-right: 18px;
    color:black;
    font-size:large;
    text-decoration: none;
}
.social-link:hover{
    color:purple;
    cursor: pointer;
    text-shadow: 2px 2px 2px white;
}